version: 0.1.0.{build}
install:
- ps: pip install fbs PyQt5==5.13.0 beets
build_script:
- ps: >-
    fbs freeze

    fbs installer
test: off
artifacts:
- path: target/TurnipSetup.exe
  name: Installer
deploy: off