version: 0.1.0.{build}
environment:
  matrix:
  - PYTHON: "C:\Python36-x64"
init:
- cmd: "ECHO %PYTHON%"
install:
- cmd: "%PYTHON%\\python.exe --version"
- cmd: "%PYTHON%\\Scripts\\pip.exe install fbs PyQt5 beets"
build_script:
- ps: >-
    fbs freeze

    fbs installer
test: off
artifacts:
- path: target/TurnipSetup.exe
  name: Installer
deploy: off